*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  @font-face {
    font-family: "iransans";
    src: url('../fonts/IRANSansWebFa_Light.woff2') format('woff2')
  }

  
    /* ----------------------------------Animation----------------------------------- */

    @keyframes moveInUp {
      0% {
        opacity: 0;
        transform: translateY(10rem); }
      100% {
        opacity: 1;
        transform: translateY(0); } }

    @keyframes back-gr-Appearance {
      from    {
        opacity: 0;
        background-image:linear-gradient(45deg, rgba(191,117,135,0.639) 0%, rgba(214,255,255,0.631) 100%);
      }

      
      to  {
        opacity: 1; 
        background-image:linear-gradient(45deg, rgba(191,117,135,0.639) 0%, rgba(214,255,255,0.631) 100%) ,url(IMG/background.jpg)
      }
  }
  
  body{
    font-family:"iransans";
    font-weight: 300;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    direction: rtl;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    animation: back-gr-Appearance 1.5s ease-in-out;
    transition: opacity 10s ease-in-out 0.75s, visibility 1.25s 0.75s;
    background-image:linear-gradient(45deg, rgba(191,117,135,0.639) 0%, rgba(214,255,255,0.631) 100%) ,url(../img/background.jpg)
  }

  .wrapper{
    padding: 3.5rem 3.5rem 3.5rem 3.5rem;
    z-index: 2;
    overflow: hidden;
    animation: moveInUp 1.2s ease-out;
  }

  .row{
    
    text-align: center
  }


  .content{
    width: 50rem;
    margin: 0 auto;
    color:#fff;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(44,42,54,0.8);
    box-shadow: 0rem 3rem 3.125rem 0rem rgba(44,42,54,0.451);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    transition: opacity 1.25s ease 0s, transform 1.25s ease 0s;
}
.content > .inner > section > *{
  transition: opacity 1s ease-in-out 0.25s;
}

.inner{
    z-index: 1;
    border-radius: inherit;
    padding: 3.75rem 3rem;
    width: 100%;
}


.section-intro{
  position: relative;
  
}


.section-intro_textbox{
  text-align: center
}

.section-intro_textbox>*:not(img){
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.logo{
  height: 6rem;
  border-radius: 50%;
}


h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.section-intro h1{
  line-height: 1.25;
  width: calc(100% + 0.6rem);  
}

hr {
  width: 100%;
  position: relative;
  padding: 0;
  border: 0;
  height: 0.5rem;
  line-height: 0.5rem;
}

hr:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  border-top: solid 2px #FFFFFF;
  height: 2px;
}

#hr-break {
  height: 3.5rem;
  line-height: 3.5rem;
}

#hr-break:before {
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.18);
  height: 1px;
}

.section-intro p{
  font-size: 1rem;
}

.section-cons img{
  width: 100%;
  height: auto;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; 
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.box{
  text-align: center;
}

.box .user{
  width: 100%;
  height: auto;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } 


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/* Grid of Three--------------------------------------------------------------------------------------- */

.span-3-of-3 {
	width: 100%;
}

.span-2-of-3 {
	width: 66.13%;
}

.span-1-of-3 {
	width: 32.26%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%;
	}
	.span-2-of-3 {
		width: 100%;
	}
	.span-1-of-3 {
		width: 100%;
	}
}

/* ------------------------Button Style ------------------------------ */

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  direction: rtl;
  position: relative;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  font-family: inherit; 
  font-size: 1.2rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }



.btn--blue {
  color: #fff;
  background-color: rgb(88, 214, 192); }
  .btn--blue::after {
    background-color: rgb(88, 214, 192); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }


/* ---------------------------------------------------steps---------------------------------------- */

.steps{
  border: 2px dashed #ccc;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 4.5rem 1rem 1rem 1rem;
  position: relative;
  height:23rem ;
}

.steps img{
  width: 5rem;
  height: auto;
  position: absolute;
  top:73%;
  left:30%;
}

.steps p{
  font-size: 1rem;
  text-align: justify
}
/* 
.section-cons_st2 div:first-child{
  margin-left: 16.13%
}

.section-cons_st2 div:last-child{
  margin-right: 16.13%
} */

.bookmarkRibbon {
  width: 105px;
  height: 0;
  border-bottom: 20px solid #e6c2c2;
  border-top: 20px solid #e6c2c2;
  border-left: 15px solid transparent;
  float: right;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight:700;
  position: absolute;
  right: -0.1rem;
  top: 2rem;
}
/* 
.section-cons_steps {
  width: 25rem;
  margin: auto;
}

.section-cons_steps p {
  border-top: 2px dashed;
  border-color: blue !important;
  margin:0; padding: 30px;
  counter-increment: section;
  position: relative;
}



.section-cons_steps p:nth-child(even):before {
  content: counter(section);
  right: 100%; 
  margin-right: -2rem;
  position: absolute;
  border-radius: 50%;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  background-color: blue;
  text-align:center;
  color: white;
  font-size: 3rem;
}

.section-cons_steps p:nth-child(odd):before {
  content: counter(section);
  left: 100%; 
  margin-left: -2rem;
  position: absolute;
  border-radius: 50%;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  background-color: blue;
  text-align:center;
  color: white;
  font-size: 3rem;
}



.section-cons_steps p:nth-child(even) {
  border-left: 0.2rem dashed;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  margin-right: 3rem; 
  padding-right: 0;
}

.section-cons_steps p:nth-child(odd) {
  border-right: 0.2rem dashed;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  margin-left: 3rem; 
  padding-left: 0;
}

.section-cons_steps p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.section-cons_steps p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
} */

  /* ---------------------------------------Foooter----------------------------------------- */

  footer{
    font-size: 0.85rem;
  }

  #hr-footer::before{
    width: 20%;
  }
  
  .social-links{
    list-style: none;
    margin-top: 1rem;
  }

  .social-links li{
    display: inline-block;
    margin-left: .05rem;
  }
  
  
  .social-links li a{
    text-decoration: none;
    color:#888;
    border:0;
    font-size: 160%;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }

  .box .about-us, .box .call-num{
    margin-top: 1rem;
  }



  /* --------------------Media Query----------------------------- */

  @media only screen and (max-width: 600px) {
    .content{
      width: 100%;
    }

    .col{
      width:100%;
      margin: 0 0 4% 0;
    }
    
  }
  @media only screen and (max-width: 900px) {
    .content{
      width: 90%;
    }
    h2{
      font-size: 1.2rem;
    }
    .inner{
      width: 100%;
    }
    .wrapper{
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .steps img {
       position: relative;
       margin-top: 1.5rem;
       text-align: center;
    }

    }

